html {
    scroll-behavior: smooth;
}

body {
    background-color: #0E0E10;
}

.fade-out {
    animation: fadeOut 0.5s forwards;
}

@keyframes fadeOut {
    to {
        opacity: 0;
        visibility: hidden;
    }
}

.price-container {
    position: relative;
    height: 48px;
}

.price-current {
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(0);
    opacity: 1;
}